django==1.5.2
south==0.8.1
django-tastypie==0.10.0
django-admin-tools==0.5.1
feedparser
PIL
requests
django-extensions
pygraphviz
scrapy==0.16.4
psycopg2==2.5.1
pytz
python-memcached==1.53
beautifulsoup4==4.3.1
