
<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-{{STATIC_URL}}stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	{% block meta %}
	<meta charset="utf-8" />
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	{% endblock %}

	<title>Proyecto Colibri</title>

	<!-- Included CSS Files (Uncompressed) -->
	<!--
	<link rel="stylesheet" href="{{STATIC_URL}}stylesheets/foundation.css">
	-->
	{% block links %}
	<!-- Included CSS Files (Compressed) -->
	<link rel="stylesheet" href="{{STATIC_URL}}stylesheets/foundation.css">
	<link rel="stylesheet" href="{{STATIC_URL}}stylesheets/app.css">
	{% endblock %}

	{% block scripts %}
	<script src="{{STATIC_URL}}javascripts/modernizr.foundation.js"></script>
	<!-- Included JS Files (Compressed) -->
	<script src="{{STATIC_URL}}javascripts/jquery.js"></script>
	<script src="{{STATIC_URL}}javascripts/foundation.min.js"></script>
	<script src="{{STATIC_URL}}javascripts/jquery-ui-1.8.20.custom.min.js"></script>
	{% endblock %}

</head>
<body>

<!-- Header and Nav -->

  <div id="header" class="row">
    <div class="three columns">
      <a href="{% url main_index %}"><img id="logo-colibri" src="{{STATIC_URL}}images/colibri_blanco.png"></a>
    </div>
    <div class="nine columns">
      <ul class="nav-bar right">
		<li><a href="{% url main_index %}">Inicio</a></li>
		<li><a href="{% url main_documentation %}">Documentación</a></li>
		<li><a href="{% url main_weare %}">Somos</a></li>
      </ul>
    </div>
  </div>

  <!-- End Header and Nav -->
  {% block content %}
  {% endblock %}
  <!-- Footer -->

  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p><span class="entypo-cc webicon"></span> Algunos derechos reservados, Proyecto de <a href="http://twitter.com/openkratio" target="_blank">OpenKratio</a></p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li><a href="http://github.com/openkratio/proyecto-colibri"><span class="entypo-github webicon small white-text"></span></a></li>
            <li><a href="mailto:edipotrebol@gmail.com,azotillo@gmail.com?subject=ProyectoColibri"><span class="entypo-mail webicon small white-text"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  {% block footerscript %}
  {% endblock %}

  {% block analytics_js %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34687794-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  {% endblock %}
</body>
