{% extends "base.html" %}
{% block content %}  
  <!-- <div class="row">
    <div class="nine columns centered">
      <p class="main-text center-text white-text">"Somos un pequeño equipo pero con muchas ganas de construir colectivamente"</p>
    </div>
  </div> -->
  
  <div class="row">
    <div class="twelve columns">
      <h1>Espana 2012-2013 <span class="radius secondary label">WebApp</span></h1>
      <p>Trabajo desarrollado por  <a href="https://github.com/michalskop">Michal Skop</a></p>
      <a href="http://bl.ocks.org/michalskop/5773523" target="_blank">Accede a la app</a>
    </div>
    <div class="twelve columns">
      <h1>ColibriBook <span class="radius secondary label">Android</span></h1>
      <p>Trabajo desarrollado por <a href="https://github.com/pulimento">Javier Pulido</a> con la colaboracion de <a href="http://edipotrebol.es">edipotrebol</a></p>
      <p>Identidad grafica desarrollada por <a href="http://lopezbesteiro.es">Ale Lopez Besteiro</a>
      <a href="http://github.com/openkratio/colibribook" target="_blank">Accede a la app</a>
    </div>
  </div>
  

{% endblock %}
