{% extends "base.html" %}
{% block content %}  
  <div class="row">
    <div class="ten columns centered">
      <p class="main-text center-text white-text">
        <ul>
            <li>
                Listado de Grupos parlmentarios:
                <br>http://proyectocolibri.es/api/v1/group/
                <br>Campos para filtrar: id, name
            </li>
            <li>
                Listado de Partidos
                <br>http://proyectocolibri.es/api/v1/party/
                <br>Campos para filtrar: id, name
            </li>
            <li>
                Listado de miembros
                <br>http://proyectocolibri.es/api/v1/member/
                <br>Campos para filtrar: id, name
            </li>
            <li>
                Listado de miembros de un partido
                <br>http://proyectocolibri.es/api/memberparty/
                <br>Campos para filtrar: party
            </li>
            <li>
                Listado de votaciones
                <br>http://proyectocolibri.es/api/vote/
                <br>Campos para filtrar(obligatorios): session, number
            </li>
            <li>
                Listado de sesiones
                <br>http://proyectocolibri.es/api/voting/
                <br>Campos para filtrar: session
            <li>
        </ul>
      </p>
    </div>
  </div>
{% endblock %}  
