{% extends "base.html" %}

{% block links %}
{{ block.super }}
<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}stylesheets/coda-slider.css">
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{{STATIC_URL}}javascripts/jquery.coda-slider-3.0.js"></script>
{% endblock %}

{% block content %}
  <!-- First Band (Slider) -->
  <!-- The Orbit slider is initialized at the bottom of the page by calling .orbit() on #slider -->
    
  <div class="row">
    <div class="twelve columns">
      <!--<div id="slider">
        <img src="{{STATIC_URL}}images/proycolibri.gif" />
        <img src="{{STATIC_URL}}images/proycolibri.gif" />
        <img src="{{STATIC_URL}}images/proycolibri.gif" />
      </div>-->
      <div id="slider-info" class="coda-slider">
        <div class="info-box">
          <div class="row">
            <div class="four columns">
              <span class="entypo-box webicon xbig"></span>
            </div>
            <div class="eight columns right-text">
              <h1>Ordenamos para tí<br />los datos de Congreso.es</h1>
              <h4 class="white-text">Para que encuentres rapidamente lo que estás buscando</h4>
            </div>
          </div>
        </div>
        <div class="info-box">
          <div class="row">
            <div class="eight columns">
              <h1>Construye tu propia aplicación</h1>
              <h4 class="white-text">Te ofrecemos la posibilidad de que construyas tu propia aplicación haciendo uso de nuestra API con datos públicos</h4>
            </div>
            <div class="four columns">
              <span class="entypo-paper-plane webicon xbig"></span>
            </div>
          </div>
        </div>
        <div class="info-box">
          <div class="row">
            <div class="four columns">
              <span class="entypo-sound webicon xbig"></span>
            </div>
            <div class="eight columns">
              <h1>Apoya el Proyecto COLIBRI</h1>
              <h4 class="white-text">Haz lo que quieras o puedas: difunde el proyecto, solicita información específica, realiza visualizaciones o estudios con los datos de Congreso.es</h4>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <p class="submain-text white-text center-text">EL Proyecto COLIBRI es una iniciativa ciudadana que pretende servir de puente entre la comunidad de programadores y periodistas y la web del Congreso del Gobierno de España para así facilitar el acceso a la información que en dicha web se puede encontrar.</p>
      <hr />
    </div>
  </div>
  
  
  <!-- Three-up Content Blocks -->
  
  <div class="row">
  
    <div class="four columns center-text">
      <span class="entypo-publish webicon big"></span>
      <!--<img src="{{STATIC_URL}}images/img.gif" />-->
      <h4>REST API</h4>
      <p>Ofrecemos una <a href="http://es.wikipedia.org/wiki/Interfaz_de_programaci%C3%B3n_de_aplicaciones" target="_blank">API</a> basada en servicios <a href="http://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank">REST</a> para consumición de datos del Proyecto. Puedes encontrar más información en la <a href="documentacion.html">documentación oficial</a> del mismo.</p>
    </div>
    
    <div class="four columns center-text">
      <span class="entypo-chart-pie webicon big"></span>
      <h4>Visualización</h4>
      <p>Hemos desarrollado una aplicación web para consultar las votaciones del Congreso y queremos que sirva de base de futuros desarrollos que tanto nosotros como la comunidad pueda realizar.</p>
    </div>
    
    <div class="four columns center-text">
      <span class="entypo-code webicon big"></span>
      <h4>100% libre</h4>
      <p>Tan libre como un pájaro. Ponemos a disposición de la comunidad tanto el código fuente del servidor de datos como los extractores de información de la web del Congreso junto con la aplicación web de visualización de datos.</p>
    </div>
    
  </div>
  
  
  <!-- Call to Action Panel -->
  <div class="row">
    <div class="twelve columns">
    
      <div class="panel">
        <h4>Contacta con nostros</h4>
            
        <div class="row">
          <div class="nine columns">
            <p>Hemos intentado lanzar una primera aproximación a las necesidades de información básicas de un ciudadano en relación con el Congreso de los Diputados. Seguiremos avanzando y para ello necesitamos de tu colabotación para proponer información a rescatar, ya sea para continuar un proyecto de investigación en el que andas trabajando, para el día a día de tu labor periodística o para realizar una visualización de datos. Nosotros sí queremos conocer tus necesidades en este sentido y queremos que ésto sirva de base de futuros desarrollos que tanto nosotros como la comunidad puedan realizar.</p>
          </div>
          <div class="three columns">
			  <a href="mailto:edipotrebol@gmail.com,azotillo@gmail.com?subject=ProyectoColibri" class="radius button right">Escríbenos</a>
			</div>
        </div>
      </div>
      
    </div>
  </div>
  {% endblock %}

{% block footerscript %}
{{ block.super }}
<!-- Put this above your </body> tag -->
<script type="text/javascript">
  $(window).load(function() {
    /*$('#slider').orbit({
	  animation: 'horizontal-push',                  // fade, horizontal-slide, vertical-slide, horizontal-push
	  animationSpeed: 1000,                // how fast animtions are
	  timer: true,                        // true or false to have the timer
	  resetTimerOnClick: false,           // true resets the timer instead of pausing slideshow progress
	  advanceSpeed: 4000,                 // if timer is enabled, time between transitions
	  pauseOnHover: false,                // if you hover pauses the slider
	  startClockOnMouseOut: false,        // if clock should start on MouseOut
	  startClockOnMouseOutAfter: 1000,    // how long after MouseOut should the timer start again
	  directionalNav: false,               // manual advancing directional navs
	  captions: false,                     // do you want captions?
	  captionAnimation: 'none',           // fade, slideOpen, none
	  captionAnimationSpeed: 1000,         // if so how quickly should they animate in
	  bullets: false,                     // true or false to activate the bullet navigation
	  bulletThumbs: false,                // thumbnails for the bullets
	  bulletThumbLocation: '',            // location from this file where thumbs will be
	  afterSlideChange: function(){},     // empty function
	  fluid: true                         // or set a aspect ratio for content slides (ex: '4x3')
	 });*/
    $('#slider-info').codaSlider({
      continuous: false,
      slideEaseDuration: '2000',
      autoSlide: true,
      autoHeight: false,
      dynamicArrows: false
    });
  });
</script>
{% endblock %}  
