{% extends "base.html" %}
{% block content %}  
  <!-- Begin Contrib -->
  
  <div class="row">
    <div class="twelve columns">
      <ul>
        <li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
        <li><a href="http://tastypieapi.org" target="_blank">TastyPie</a></li>
        <li><a href="http://www.python.org" target="_blank">Python</a></li>
		<li><a href="http://www.mysql.com" target="_blank">MySQL</a></li>
		<li><a href="http://www.postgresql.org/" target="_blank">PostgreSQL</a></li>
        <li><a href="http://foundation.zurb.com" target="_blank">Foundation</a></li>
        <li><a href="http://weloveiconfonts.com" target="_blank">We love icon fonts</a></li>
        <li><a href="https://github.com/KevinBatdorf/codaslider" target="_blank">Coda Slider</a></li>
		<li><a href="http://git-scm.com/" target="_blank">Git</a></li>
        <li><a href="http://github.com/" target="_blank">Github</a></li>
        <li>Datos obtenidos de Congreso.es</li>
      </ul>
    </div>

  <!-- End Contrib -->

{% endblock %}
