{% extends "base.html" %}
{% block content %}  
  <div class="row">
    <div class="nine columns centered">
      <p class="main-text center-text white-text">"Somos un pequeño equipo pero con muchas ganas de construir colectivamente"</p>
    </div>
  </div>

  <!-- Begin Team -->
  
  <div class="row">
    <div class="three columns center-text">
      <img src="{{STATIC_URL}}main/images/edipotrebol.jpg" title="Foto de edipotrebol" class="profile-picture" />
    </div>
    <div class="nine columns">
      <h3><a href="http://edipotrebol.es">@edipotrebol</a></h3>
      <h5 class="white-text">Open Source Architect &amp; Data Scientist</h5>
    </div>
  </div>
  <div class="row">
    <div class="three columns center-text">
      <img src="{{STATIC_URL}}main/images/ewokcillo.jpg" title="Foto de ewokcillo" class="profile-picture" />
    </div>
    <div class="nine columns">
      <h3><a href="http://endornotieneplaya.org">@ewokcillo</a></h3>
      <h5 class="white-text">SysAdmin &amp; Python developer</h5>
    </div>
  </div>
  <div class="row">
    <div class="three columns center-text">
      <img src="{{STATIC_URL}}main/images/jneight.jpg" title="Foto de jneight" class="profile-picture" />
    </div>
    <div class="nine columns">
      <h3><a href="http://www.corderomartinez.es/">@jneight</a></h3>
      <h5 class="white-text">Python + Django developer</h5>
    </div>
  </div>

  <!-- End Team -->
{% endblock %}
